.App {
  font-family: sans-serif;
}

body {
  width: 80%;
  margin: auto;
  background: #6c5b7b;
}

button {
  padding: 1rem;
  margin-right: 0.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #355c7d;
}

hr {
  border: 0.5px solid #000;
  margin: 2rem 0;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  background: #f67280;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0;
}

li div {
  padding: 0.2rem;
}

li .movie-name {
  font-size: 1.1rem;
}

li .rating {
  color: #6c5b7b;
}
